.c-panel{
    margin-bottom: 20px;
}
.c-panel-title{
    display: block;
    margin: 0;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
}
.c-panel-wrap{
    position: relative;
    box-shadow: 2px 2px 10px #bdbdbd;
    background-color: #ffffff;
    border-radius: 10px;
}
.c-panel-hd{
    position: absolute;
    top: 0;
    margin: 0;
    color: #333333;
}

.c-panel-tab{
}
.c-panel-tab-entry{
    margin-left: 8px;
    color: #E0E0E0;
}
.c-panel-tab-entry.active{
    color: #333333;
}
a.c-panel-tab-entry{
    text-decoration: none;
}
.c-panel-tab-entry-chart{

}
.c-panel-tab-entry-chart:after{
    display: inline-block;
    content: '图表';
}
.c-panel-tab-entry-data{

}
.c-panel-tab-entry-data:after{
    display: inline-block;
    content: '数据';
}

.c-panel-export{

}
.c-panel-export:before{
    content: '下载';
    display: inline-block;
}


.c-panel-bd{
    padding: 20px;
}