.c-tab{
    position: relative;
    box-shadow: 2px 2px 10px #bdbdbd;
}
.c-tab-hd{
    height: 45px;
    margin: 0;
    padding: 0;
    color: #333333;
    list-style: none;
    background-color: #f4f4f4;
}
.c-tab-entry{
    float: left;
    position: relative;
    line-height: 45px;
}
.c-tab-entry-txt{
    margin: 0 8px;
    padding: 0 8px;
}
.c-tab-entry:hover .c-tab-entry-txt{
    color: #f18f30;
}
.c-tab-entry-active .c-tab-entry-txt{
    display: inline-block;
    height: 45px;
    color: #f18f30;
    border-bottom: 2px solid #f18f30;
}
.c-tab-entry:after{
    content: '|';
    color: #eae8e8;
}
.c-tab-entry:last-child:after{
    display: none;
}

.c-tab-entry .c-tip{
    top: 45px;
}

.c-tab-bd,
.c-tab-ft{
    padding: 16px;
    background-color: #ffffff;
}
.c-tab-panel{
    display: none;
}
.c-tab-panel-active{
    display: block;
}

.c-tab-ft{
    padding-top: 0;
}