.c-tab{
    position: relative;
    // box-shadow: 2px 2px 10px #bdbdbd;
}
.c-tab-hd{
    margin: 0;
    padding: 0;
    list-style: none;
}
.c-tab-entry{
    display: block;
    float: left;
    position: relative;
    padding: 0 20px;
    font-size: 14px;
    cursor: pointer;
}
.c-tab-entry-txt{
    display: inline-block;
    height: 26px;
    color: #c6c6c6;
    line-height: 26px;
}
.c-tab-entry:hover .c-tab-entry-txt{
    color: #ff7816;
}
.c-tab-entry-active .c-tab-entry-txt{
    color: #ff7816;
    border-bottom: 2px solid #ff7816;
}
.c-tab-entry .c-tip{
    top: 26px;
}

.c-tab-bd,
.c-tab-ft{
    padding: 16px;
    background-color: #ffffff;
}
.c-tab-panel{
    display: none;
}
.c-tab-panel-active{
    display: block;
}

.c-tab-ft{
    padding-top: 0;
}